#Python Asyncronous 1 ‚≠ê

##A. Create a python syntax based on the instructions below!

1. Instruction:<br>
Create a variable list_sample in the form of a "list" with 10 elements! Return list_sample!

In [ ]:
list_sample = [5, 8, 20, 22, 19, 4, 20, 3, 20, 24]

print(list_sample)

[5, 8, 20, 22, 19, 4, 20, 3, 20, 24]

2. Instruction: <br>
Return the second element from list_sample!

In [ ]:
list_sample = [5, 8, 20, 22, 19, 4, 20, 3, 20, 24]

print("Second element:", (list_sample[1]))

Second element: 8

3. Instruction:<br>
Add a new element in the form of a list with 5 elements in the sixth position! Return list_sample!

In [ ]:
list_sample = [5, 8, 20, 22, 19, 4, 20, 3, 20, 24]
new_element = [10,11,12,13,14]
list_sample.insert(5, new_element)
print("Updated list_sample:", list_sample)

Updated list_sample: [5, 8, 20, 22, 19, [10, 11, 12, 13, 14], 4, 20, 3, 20, 24]

4. Instruction:<br>
Return the 4th element of the list created in instruction number 3!

In [ ]:
list_sample = [5, 8, 20, 22, 19, 4, 20, 3, 20, 24]
new_element = [10,11,12,13,14]
list_sample.insert(5, new_element)

print("Fourth element of the list:",(list_sample[3]))

Fourth element of the list: 22

5. Instruction:<br>
Update the 10th element of list_sample with 'Practice'. Return list_sample!

In [ ]:
list_sample = [5, 8, 20, 22, 19, 4, 20, 3, 20, 24]


list_sample[9]='Practice'
print ("Updated list_sample:" ,list_sample)

Updated list_sample: [5, 8, 20, 22, 19, 4, 20, 3, 20, 'Practice']

6. Instruction:<br>
Return the 10th output element that has been changed!

In [ ]:
list_sample = [5, 8, 20, 22, 19, 4, 20, 3, 20, 24]
list_sample[9]='Practice'
print ("Updated list_sample:" ,list_sample)
changed_element = list_sample[9]
print("Changed 10th element:", changed_element)

Updated list_sample: [5, 8, 20, 22, 19, 4, 20, 3, 20, 'Practice']
Changed 10th element: Practice

7. Instruction:<br>
Return the count of one of the elements in list_sample!

In [ ]:
list_sample = [5, 8, 20, 22, 19, 4, 20, 3, 20, 24]
print("Count of element 20:",list_sample.count(20))

Count of element 20: 3

8. Instruction:<br>
Return the number of elements in the list_sample!

In [ ]:
list_sample = [5, 8, 20, 22, 19, 4, 20, 3, 20, 24]

print("Number of elements in list_sample:", len(list_sample))

Number of elements in list_sample: 10

9. Instruction:<br>
Remove elements in the form of lists from list_sample! Return list_sample!

In [ ]:
list_sample = [5, 8, 20, 22, 19, 4, 20, 3, 20, 24]
list_sample.remove(24)
print(list_sample)

[5, 8, 20, 22, 19, 4, 20, 3, 20]

10. Instruction:<br>
Remove all elements from the list_sample! Return list_sample!

In [ ]:
list_sample = [5, 8, 20, 22, 19, 4, 20, 3, 20, 24]
list_sample.clear()
print("list sample:", list_sample)

list sample: []

##B. Make a simple program about mathematical calculations!

###1st Example

In [ ]:
#meminta input dari user
kilometer = float(input("Masukan bilangan yang ingin di konversi: "))

#konversi kilometer ke meter
meter = kilometer * 1000

#menampilkan hasil konversi
print(f"{kilometer} kilometer = {meter} meter")

Masukan bilangan yang ingin di konversi: 10
10.0 kilometer = 10000.0 meter

###2nd Example

In [ ]:
# Menginput Alas dan Tinggi Segitiga
alas = float(input('Tulis Alas Segitiga: '))
tinggi = float(input('Tulis Tinggi Segitiga: '))

# Hitung Luas Segitiga
luas = (alas * tinggi) / 2

#Menampilkan Hasil Perhitungan
print(f'Luas Segitiga tersebut adalah {luas}')

Tulis Alas Segitiga: 30
Tulis Tinggi Segitiga: 15
Luas Segitiga tersebut adalah 225.0

###Your Turn! üî•

In [ ]:
# Input Mass and Force
mass = float(input('Enter the value of mass (kg): '))
force = float(input('Enter the value of force (N): '))

# Calculate Acceleration
acceleration = force / mass

# Display the Calculation Result
print(f'The acceleration is: {acceleration} m/s^2')

Enter the value of mass (kg): 10
Enter the value of force (N): 4
The acceleration is: 0.4 m/s^2